@model IEnumerable<CityRatingModel>
@{
    ViewData["Title"] = "Home Page";
    //double sum = Model.Average(x => x.SumFines);
    //double threshold1 = sum * 0.6;
    //double threshold2 = sum * 1.2;
    //string shape;
    int counter = 0;
}
<br />
<br />
<br />
<br />

@*<h1>Rating Cities</h1>*@
<h1>@Localizer["City Rating"]</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">@Localizer["City"]</th>
            <th scope="col">@Localizer["Country"]</th>
            <th scope="col">@Localizer["Amount of penalty points"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in Model)
        {
            counter++;
            <tr class=@city.Shape>
                <th scope="row">@counter</th>
                <td>@city.Name</td>
                <td>@city.Country</td>
                <td>@city.SumFines</td>
            </tr>

        }
    </tbody>
</table>



    @*@foreach (var city in Model)
    {
        <div>
            <br />
            <p>@city.Country  @city.Name  @city.SumFines</p>
        </div>
    }*@
