@model CityModel
@{
    ViewData["Title"] = "CityPage";
}

<h1>CityPage</h1>
<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">@Localizer["City"]</div>
                    <div class="card-body">
                        <form asp-action="CityPage" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="number" hidden asp-for="Id" />
                            <div class="form-group row">
                                <label asp-for="Name" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Country" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                    <input asp-for="Country" class="form-control" />
                                    <span asp-validation-for="Country" class="text-danger"></span>
                                </div>
                            </div>
                            @*<div class="form-group row">
            <label asp-for="PlaceTypeId" class="col-md-4 col-form-label text-md-right"></label>
            <div class="col-md-6">
                <select asp-for="PlaceTypeId" class="form-control input__item" asp-items="@Model.CityList"></select>
            </div>
        </div>*@
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    @SharedLocalizer["Save"]
                                </button>
                            </div>
                        </form>
                        <div>
                            <a href="@Url.Action("ViewAllCities","Admin")">@SharedLocalizer["Back"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@*<div>
    <br /><br /><br /><br />
    <form asp-action="CityPage" method="post" enctype="multipart/form-data">

        <input type="number" hidden asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <label asp-for="Name" class="control-label name__input"></label>
        <div class="valid">
            <input asp-for="Name" class="form-control  input__item" />
            <span asp-validation-for="Name" class="text-danger exit__errore field-validation-error"></span>
        </div>

        <label asp-for="Country" class="control-label name__input"></label>
        <div class="valid">
            <input asp-for="Country" class="form-control input__item" />
            <span asp-validation-for="Country" class="text-danger exit__errore field-validation-error"></span>
        </div>

        <label asp-for="Status" class="control-label name__input"></label>
        <div class="valid">
            <input asp-for="Status" class="form-control  input__item" />
            <span asp-validation-for="Status" class="text-danger exit__errore field-validation-error"></span>
        </div>


        <input type="submit" id="SaveBtn" value="SaveChange" class="nav__button" />

    </form>

    <a href='@Url.Action("ViewAllCities", "Admin")' class="back__list">Back to List</a>
</div>*@
