
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href='@Url.Action("ViewAllPlaceType","Admin")' class="link__dish">Place Type</a>
<br />
<br />
<a href='@Url.Action("ViewAllTechnicType","Admin")' class="link__dish">Technic Type</a>
<br />
<br />
<a href='@Url.Action("ViewAllSensorType","Admin")' class="link__dish">Sensor Type</a>
<br />
<br />
<a href='@Url.Action("ViewAllCities","Admin")' class="link__dish">Cities</a>
<br />
<br />
<a href='@Url.Action("ViewAllUser","Admin")' class="link__dish">Users</a>
