@model IEnumerable<TechnicType>
@{
    ViewData["Title"] = "ViewAllTechnicType";
}

<h1>ViewAllTechnicType</h1>

<br />
<a href='@Url.Action("AddTechnicTypePage","Admin")' class="link__dish">Add Technic Type</a>
<br />
@foreach (var technicType in Model)
{
    <div>
        <a href='@Url.Action("TechnicTypePage","Admin", new{id = technicType.Id})' class="link__dish">@technicType.Type @technicType.Classification</a>
        <a href='@Url.Action("TechnicTypeRemove","Admin",new{id = technicType.Id})' class="link__dish">Delete</a>
    </div>
}

<a href='@Url.Action("Index","Admin")' class="back__list">Back</a>