@model User
@{
    ViewData["Title"] = "Account";
}

<h1>Account</h1>
<p>@Model.Name</p>
<p>@Model.Surname</p>
<p>@Model.Patronymic</p>
<p>@Model.Password</p>
<p>@Model.Passport</p>
<p>@Model.Address</p>
<p>@Model.HousingType</p>
<p>@Model.TaxIdentity</p>
<p>@Model.City.Name</p>

