@model UserModel
@{
    ViewData["Title"] = "Account";
}

<h1>Account</h1>
<p>@Model.Surname</p>
<p>@Model.Name</p>
<p>@Model.Patronymic</p>
<p>@Model.Email</p>
<p>@Model.Passport</p>
<p>@Model.TaxIdentity</p>
<p>@Model.City.Name</p>
<p>@Model.Role</p>
<p>Общая сумма штрафных баллов : @Model.SumSizeFine</p>
<br />
@if (User.Identity.Name == Model.Passport)
{
    <a href='@Url.Action("ChangeUserData","Account")' class="link__dish">Change user data</a>
}


<br />
<a href='@Url.Action("GeneralizeTechnicFine","Account", new{name = @Model.Passport})' class="link__dish">Generalize Technic Fines</a>
<a href='@Url.Action("GeneralizePlaceFine","Account", new{name = @Model.Passport})' class="link__dish">Generalize Place Fine</a>
<a href='@Url.Action("GeneralizeSensorFine","Account", new{name = @Model.Passport})' class="link__dish">Generalize Sensor Fine</a>
<br />
<br />
<a href='@Url.Action("ViewAllPlace","Account")' class="link__dish">Places</a>
<br />
<br />
<a href='@Url.Action("ViewAllTechnic","Account")' class="link__dish">Technics</a>
<br />
<br />
<a href='@Url.Action("ViewAllSensor","Account")' class="link__dish">Sensors</a>