@model User
@{
    ViewData["Title"] = "Account";
}

<h1>Account</h1>
<p>@Model.Name</p>
<p>@Model.Surname</p>
<p>@Model.Patronymic</p>
<p>@Model.Email</p>
<p>@Model.Password</p>
<p>@Model.Passport</p>
<p>@Model.TaxIdentity</p>
<p>@Model.City.Name</p>
<p>@Model.Role</p>
<br />
<br />
@if (Model.Role == "admin")
{
    <a href="@Url.Action("Index","Admin")">Admin</a>
}
<br />
<br />
<a href='@Url.Action("ViewAllPlace","Account")' class="link__dish">Places</a>
<br />
<br />
<a href='@Url.Action("ViewAllTechnic","Account")' class="link__dish">Technics</a>