@model Place
@{
    ViewData["Title"] = "PlacePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="my-form m-5">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <h3 class="panel-title">@Localizer["Places"]:</h3>
                                </div>
                            </div>
                        </div>
                        <div class=" panel-body">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>@SharedLocalizer["Address"]:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Address</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>@Localizer["Place Type"]:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.PlaceType.HousingType</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>@Localizer["Type of heating"]:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.PlaceType.EcoType</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>@Localizer["Estimated Penalty Points"]:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.SizeFine</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="@Url.Action("ViewAllPlace","Account")">@SharedLocalizer["Back"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


